<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}	
        <link rel="stylesheet" href="{% static "public/css/styles.css" %}">
    </head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Spot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                            <a class="nav-link" href="/interests">Interests</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/videos">Search Youtube</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/otherinterest">Other Interests Page</a>
                    </li>
                </ul>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                            <a href="/logout">Welcome, {{loggedInUser.firstName}}</a>
                    </div>
                    <div class="col-auto">
                            <a href="/logout"><button type="submit" class="btn btn-primary">Log out</button></a>
                    </div>
                </div>
        </div>
    </div>
</nav>

    <!-- Optional: some overlay text to describe the video -->

    <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <h1 class="interests-title">What interests will you be speaking on today?</h1>
        <div class="row">
            <div class="col-md-12 interests-boxes">
                {% comment %} <form action="interest-search" method="POST"> {% endcomment %}
                {% csrf_token %} 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="search" type="checkbox" id="inlineCheckbox1" value="tech">
                        <label class="form-check-label" for="inlineCheckbox1">Technology</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name ="search" type="checkbox" id="inlineCheckbox2" value="webdevelopment">
                        <label class="form-check-label" for="inlineCheckbox2">Web Development</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input"  name ="search" type="checkbox" id="inlineCheckbox1" value="climatechange">
                        <label class="form-check-label" for="inlineCheckbox1">Climate Change</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name ="search" type="checkbox" id="inlineCheckbox2" value="science">
                        <label class="form-check-label" for="inlineCheckbox2">Science</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name ="search" type="checkbox" id="inlineCheckbox1" value="politics">
                        <label class="form-check-label" for="inlineCheckbox1">Politics</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name ="search" type="checkbox" id="inlineCheckbox1" value="politics">
                        <label class="form-check-label" for="inlineCheckbox1">Sports</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="search" type="checkbox" id="inlineCheckbox2" value="news">
                        <label class="form-check-label" for="inlineCheckbox2">News</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="search" type="checkbox" id="inlineCheckbox2" value="diy">
                        <label class="form-check-label" for="inlineCheckbox2">DIY</label>
                    </div>
                    <a href="/wall"><button class="btn btn-primary btn-lg btn-block">Submit</button></a>
                </form>
            </div>
        </div>
    </div>
    

    

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</html>