body{
    color: white;
    background-repeat: no-repeat;
    background-size: fill;
    text-align:center;
}
 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: fill;
    background-repeat: no-repeat;
    width: 100%;
}

  /* Add some content at the bottom of the video/page */
.content {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    margin-top:-700px;
}

  /* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.typewrite{
    font-size: 25px;
}
#myBtn:hover {
    background: #ddd;
    color: black;
} h1{
    font-size: 60px;
}
#sign-up-button{
    margin-right: 10px;
}
#sign-up-form{
    margin-top: 0px;
}
#sign-up-form input{
    width: 350px;
    margin: auto;
}
#sign-up-form button{
    width: 350px;
    margin: auto;
    margin-bottom: 10px;
}

#second-section{
    height: 800px;
    margin: 0;
    margin-top: -10px;
}
#second-section {
    background: linear-gradient(rgba(0, 0, 0, .7), transparent 700%), url("../img/chi.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    border: none;
    height: 100vh;
}
#about-container{
    margin-top: 270px;
}
#about-container h1{
    font-size: 90px;
}
footer{
    height: 300px;
    width: 100%;
    background-color: #343a40;
}
.interests-title{
    color:black;
    font-size: 50px;
    margin-bottom: 50px;
}
.interests-boxes label{
    color: black;
    font-size: 50px;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}
#box1{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .7), transparent 700%),url("../img/slider-img-4.jpg");
    background-size: cover;
    display: table;
    background-attachment: fixed;
    margin-top: -10px;
}

#box2{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .7), transparent 700%),url("../img/slider-img-5.jpg");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box3{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .7), transparent 700%),url("../img/slider-img-6.jpg");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
.para-h1{
    font-family: arial black;
    font-size: 90px;
    color: white;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.content img{
    height: 100px;
    width: 80px;

}
.carousel-inner img{
    height: 800px;
}
#carsouel-content h1{
    color: #f05b5b
}
.about-spot{
    margin-top:-10px;
    margin-bottom: 40px;
}
.footer-stuff{
    margin-top: 100px
}




@media screen and (max-width: 600px) {

    body {
        background: url("../img/chi.jpg");
        background-size: fill;
        background-repeat: no-repeat;

    }
    
    .content {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        margin-top:20px;
    }
    
    .content h1{
        font-size: 50px;
    }
    #myVideo {
        display: none;
    }
    .what{
        background: url("../img/chi.jpg")
    }
    nav form{
        text-align: center;
        margin: auto;
    }
    #second-section{
        margin-top: -1px;
    }
    .title{
        font-size: 22px;
    }
    #sign-up-form input{
        width: 200px;
        margin: auto;
    }
    #sign-up-form button{
        width: 200px;
        margin: auto;
        margin-bottom: 10px;
    }
    .login-form-resp{
        margin-left: 30px;
    }
    .username-input{
        margin-left: 30px;
        width: 305px;
    }
}
@media screen and (min-width: 1400px) {
    .content {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        margin-top:-750px;
    }
}
@media screen and (min-width: 1800px) {
    .content {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        margin-top:-1000px;
    }
}