<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Spot Parallax Test Effect</title>
</head>
<body>
        <video autoplay muted loop id="myVideo">
                <source src="2099406.mp4" type="video/mp4">
        </video>
    <div id="box1">
        <h1 class="para-h1">Welcome to Spot</h1>
    </div>
    <div id="box2">
        <h1 class="para-h1">Opinion is Everything</h1>
    </div>
    <div id="box3">
        <h1 class="para-h1">Lets Talk About it</h1>
    </div>
    
    
</body>
</html>